/*Police Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*Police Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.container {

    position : fixed;
    top:0;
    display : flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    gap : 4%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size : 24px;
    color : #FFFFFF;
    background-color : #120934;
    min-height: 100px;
    width: 100%;
    opacity : 95%;
    z-index: 1;

}

.item1 {
    margin-left : 4%;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.item2 {
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.item3 {
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.item4 {
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.item5 {
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.item6 {
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.item7 {
    margin-left : 15%;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

img.center{
    position : relative;
    vertical-align: middle;

}

body {
    background: linear-gradient(165deg, rgba(46,6,95,1) 8%, rgba(0,212,255,1) 180%);
    background-size: cover;
    background-repeat:no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    height : 100%;

}

.texte {
    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    align-self: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 40;
    line-height: 82px;
    text-align: center;
    color : white;
    width: 100%;

}

#accueil_txt {
    background: rgba(196, 196, 196, 0.2);
    position : static;
    margin-top:20%;

}

#motivations_txt {
    position : static;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15%;
    padding-bottom: 15%;

}

#projets_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15%;
    padding-bottom: 15%;
    
}

#qualites_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15%;
    padding-bottom: 15%;

}

#competences_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15%;
    padding-bottom: 15%;

}

#contact_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15%;
    padding-bottom: 15%;

}

#img_GitHub{
    position:absolute;
    

}

.footer{
    position : absolute;
    background-color: black;
    width: 100%;
    color: white;

}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;

}

a {
    color : white;
    text-decoration: none;
}

.item1:hover {
    border-color: white;
}


.item2:hover {
    border-color: white;
}

.item3:hover {
    border-color: white;
}

.item4:hover {
    border-color: white;
}

.item5:hover {
    border-color: white;
}

.item6:hover {
    border-color: white;
}

.item7:hover {
    border-color: white;
}
