/*Police Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*Police Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.header {

    position:fixed;
    top : 0;
    left : 0;
    font-family: 'Montserrat', sans-serif;
    font-size : 24px;
    color : #FFFFFF;
    background-color : #120934;
    min-height: 100px;
    width: 100%;
    opacity : 90%;
    z-index: 1;

}

.accueil {
    position: relative;
    line-height: 100px;
    left : 3%;

}

.motivations {
    position : relative;
    line-height: 100px;
    left : 6%;

}

.projets {
    position : relative;
    line-height: 100px;
    left : 9%;

}

.qualites {
    position : relative;
    line-height: 100px;
    left : 12%;

}

.competences {
    position : relative;
    line-height: 100px;
    left : 15%;

}

.contact {
    position : relative;
    line-height: 100px;
    left : 18%;

}

.cv {
    position : absolute;
    line-height: 100px;
    right : 10%;
    vertical-align: text-top;

}

img.center{
    vertical-align: middle;

}


body {
    /*background-image:url(Elements/background.png);
    background-position:top;*/
    background: linear-gradient(175deg, rgba(46,6,95,1) 10%, rgba(0,212,255,1) 200%);
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;

}

.texte {
    position : relative;
    top : 300px;
    align-self: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 40;
    line-height: 82px;
    text-align: center;
    color : white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.accueil_txt {
    background: rgba(196, 196, 196, 0.2);
    opacity: 100%;


}

.motivations_txt {
    position : static;
    margin-left: 5%;
    margin-right: 5%;

}

.projets_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;
    
}

.qualites_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;

}

.competences_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;

}

.contact_txt{
    position : static;
    margin-left: 5%;
    margin-right: 5%;

}

html {
    font-family: 'Roboto', sans-serif;

}

h1 {

    margin-top:0%;
    margin-bottom : 30%

}